<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group text-center">
          <label for="countrySelect" class="sr-only">Select a Country</label>
          <select class="custom-select text-center" id="countrySelect"
            (change)="getStatesNestedCitiesByCountryCode($event.target.value)">
            <option selected class="text-center">Select a Country</option>
            <option *ngFor="let country of countries" class="text-center" value="{{country.Code}}">
              {{country.Name}}
            </option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col text-center" *ngIf="country">
      <h3 id="countryName" class="text-center">{{country.Name}}</h3>
      <img class="img-fluid flag" title="{{country.Name}}"
        src="assets/images/flags/svg/{{country.Code2 | lowercase}}.svg">
      <h4 class="text-center"><u>Languages Spoken</u></h4>
      <div class="progress" *ngFor="let language of country.Languages">
        <div class="progress-bar bg-warning text-dark" role="progressbar" [style.width.%]="language.Percentage"
          aria-valuenow="language.Percentage" aria-valuemin="0" aria-valuemax="100"><strong>{{language.Language}} -
            {{language.Percentage}}%</strong></div>
      </div>
    </div>
  </div>
  <h4 *ngIf="country" class="text-center"><u>States</u></h4>
  <div class="row" *ngFor="let state of states">
    <div class="col text-center">
      <h3 class="text-center">{{state.State}}</h3>
      <img class="img-fluid text-center" title="{{state.State}}"
        src="assets/images/flags/svg/{{country.Code2 | lowercase}}/{{state.StateCode | lowercase}}.svg">
      <h4 class="text-center"><u>Population by City</u></h4>
      <div class="progress" *ngFor="let city of state.Cities">
        <div class="progress-bar bg-warning text-dark" role="progressbar"
          [style.width.%]="((city.Population/state.Cities[0].Population)*100)"
          aria-valuenow="((city.Population/state.Cities[0].Population)*100)" aria-valuemin="0" aria-valuemax="100">
          <strong>{{city.City}} -
            {{city.Population | number}}</strong></div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>