<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 class="text-center">SUPER(Single User Performance)</h2>
      <p class="text-center">Performance metrics were obtained by opening clean(no cache) browser, navigating to the
        specified url
        , waiting for the page to load, then collecting metrics reported by the browser.
        Blue bar is Network + Server Processing time.
        Red bar is Redirect time.
        Yellow bar is Page Load/Browser Rendering time.
        All values are in milliseconds.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="industrySelect" class="sr-only">Select an Industry</label>
      <select class="custom-select" id="makeSelect" (change)="getTimingsByIndustryId($event.target.value)">
        <option selected class="text-center">Select an Industry</option>
        <option *ngFor="let industry of industries" class="text-center" value="{{industry.id}}">
          {{industry.name}}
        </option>
      </select>
    </div>
  </div>
  <div *ngFor="let company of performance">
    <div class="row">
      <div class="col">
        <div>{{company.Company}} - https://{{company.url}}</div>
      </div>
    </div>

    <div class="row" *ngFor="let perf of company.Timings">
      <div class="col-1">
        <img *ngIf="perf.browserName=='Chrome'" class="img-fluid svg" src="assets/images/Chrome.svg"
          alt="Chrome browser logo">
        <img *ngIf="perf.browserName=='Firefox'" class="img-fluid svg" src="assets/images/Firefox.svg"
          alt="Firefox browser logo">
        <img *ngIf="perf.browserName=='Edge'" class="img-fluid svg" src="assets/images/Edge.svg"
          alt="Edge browser logo">
        <img *ngIf="perf.browserName=='Opera'" class="img-fluid svg" src="assets/images/Opera_O.svg"
          alt="Opera browser logo">
      </div>
      <div class="col-11">
        <div class="progress" style="height: 30px;">
          <div class="progress-bar" role="progressbar"
            [style.width.%]="((perf.networkLatency/company.Timings[0].completeTime)*100)"
            aria-valuenow="((perf.networkLatency/company.Timings[0].completeTime)*100)" aria-valuemin="0"
            aria-valuemax="100">
            {{perf.network}}</div>
          <div class="progress-bar bg-danger" role="progressbar"
            [style.width.%]="((perf.redirectTime/company.Timings[0].completeTime)*100)"
            aria-valuenow="((perf.redirectTime/company.Timings[0].completeTime)*100)" aria-valuemin="0"
            aria-valuemax="100">
            {{perf.redirectTime}}</div>
          <div class="progress-bar bg-warning" role="progressbar"
            [style.width.%]="((perf.pageLoadTime/company.Timings[0].completeTime)*100)"
            aria-valuenow="((perf.pageLoadTime/company.Timings[0].completeTime)*100)" aria-valuemin="0"
            aria-valuemax="100">
            <a class="h4" href="https://{{company.url}}" target="_blank">{{perf.pageLoadTime}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>