<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 class="text-center">SUP(Single User Performance)</h2>
      <p class="text-center">Performance metrics were obtained by opening clean(no cache) browser, navigating to the
        specified url
        , waiting for the page to load, then collecting metrics reported by the browser.
        Blue bar is Network + Server Processing time.
        Red bar is Redirect time.
        Yellow bar is Page Load/Browser Rendering time.
        All values are in milliseconds.
      </p>
    </div>
  </div>
     <div class="row" *ngFor="let timing of timings">
      <div class="col-12">
        <div class="progress" style="height: 30px;">
          <div class="progress-bar" role="progressbar"
            [style.width.%]="((timing.networkLatency/timings[0].completeTime)*100)"
            aria-valuenow="((timing.networkLatency/timings[0].completeTime)*100)" aria-valuemin="0"
            aria-valuemax="100">
            {{timing.networkLatency}}</div>
          <div class="progress-bar bg-danger" role="progressbar"
            [style.width.%]="((timing.redirectTime/timings[0].completeTime)*100)"
            aria-valuenow="((timing.redirectTime/timings[0].completeTime)*100)" aria-valuemin="0"
            aria-valuemax="100">
            {{timing.redirectTime}}</div>
          <div class="progress-bar bg-warning" role="progressbar"
            [style.width.%]="((timing.pageLoadTime/timings[0].completeTime)*100)"
            aria-valuenow="((timing.pageLoadTime/timings[0].completeTime)*100)" aria-valuemin="0"
            aria-valuemax="100">
            <a class="h4" href="https://{{timing.url}}" target="_blank">{{timing.pageLoadTime}} - {{timing.url}}</a>
          </div>
        </div>
      </div>
  </div>