<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="typeSelect" class="sr-only">Select a vehicle type</label>
          <select class="custom-select" id="typeSelect" (change)="getMakesByType($event.target.value)">
            <option selected class="text-center">Select a vehicle type</option>
            <option *ngFor="let type of types" class="text-center" value="{{type.type}}">
              {{type.type}}
            </option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="makeSelect" class="sr-only">Select a manufacturer</label>
          <select class="custom-select" id="makeSelect" (change)="getModelsByMakeId($event.target.value)">
            <option selected class="text-center">Select a manufacturer</option>
            <option *ngFor="let make of makesByType" class="text-center" value="{{make.MakeId}}">
              {{make.MakeName}}
            </option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h4 class="text-center">Models</h4>
      <div *ngFor="let model of models">
        {{model.Model_Name}}
      </div>
    </div>
  </div>
  <a href="https://vpic.nhtsa.dot.gov/api/Home" target="_blank">Data Provided by Vehicle API</a>
</div>