<div class="container-fluid">
    <div class="row">
        <div class="col">
            <label for="stateSelect" class="sr-only">Select a State</label>
            <select class="custom-select" id="stateSelect" (change)="getDunkinByState($event.target.value)">
                <option selected class="text-center">Select a State</option>
                <option class="text-center" *ngFor="let state of states" class="text-center" value="{{state.code}}">
                    {{state.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-unstyled">
                <li>
                    <ul>
                        <li *ngFor="let dunkin of dunkins">{{dunkin.address}}

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>