<div class="container-fluid">
    <div class="row text-center">
        <div class="col">
            <h1>Roadrunner Vs Rattlesnake</h1>
            <iframe
                src="//assets.ngeo.com/modules-video/latest/assets/ngsEmbeddedVideo.html?guid=ngc-qTegnDBNaOavHCW66ItLcxmvYyI6rKHa"
                width="640" height="365" frameborder="0" seamless="seamless" scrolling="no" allowfullscreen=""></iframe>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <h1>Rope-Free Climb</h1>
            <iframe
                src="//assets.ngeo.com/modules-video/latest/assets/ngsEmbeddedVideo.html?guid=0000015c-7b06-dd1b-afff-7b4f22f60000"
                width="640" height="365" frameborder="0" seamless="seamless" scrolling="no" allowfullscreen=""></iframe>
        </div>
    </div>
</div>