<div class="container-fluid">
    <div class="row">
        <div class="col">
            <label for="stateSelect" class="sr-only">Select a State</label>
            <select class="custom-select" id="stateSelect" (change)="getRecreationalAreas($event.target.value)">
                <option selected class="text-center">Select a State</option>
                <option class="text-center" *ngFor="let state of states" class="text-center" value="{{state.code}}">
                    {{state.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-unstyled">
                <li>
                    <ul class="list-unstyled">
                        <li *ngFor="let recArea of recreationalAreas">
                            <h2><a target="_blank" href="{{recArea.RecAreaMapURL}}">{{recArea.RecAreaName}}</a></h2><br>
                            <h3>{{recArea.RecAreaDescription}}</h3><br>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <a target="_blank" href="http://ridb.recreation.gov/">Data Source</a>
</div>