<div class="container-fluid">
    <div class="row">
        <div class="col">
            <label for="stateSelect" class="sr-only">Select a State</label>
            <select class="custom-select" id="stateSelect" (change)="getParks($event.target.value)">
                <option selected class="text-center">Select a State</option>
                <option class="text-center" *ngFor="let state of states" class="text-center" value="{{state.code}}">
                    {{state.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center" *ngFor="let park of parks">
                <h2><a target="_blank" href="{{park.url}}">{{park.fullName}}</a></h2><br>
                <img *ngFor="let image of park.images" class="img-fluid img-thumbnail" src="{{image.url}}"
                    alt="{{image.altText}}"><br>
                <h3>{{park.description}}</h3><br>
                <h4><a target="_blank" href="{{park.directionsUrl}}">Get Directions</a></h4><br>
                <h3>Weather Info: </h3><br>
                <h4>{{park.weatherInfo}}</h4>
            </div>
        </div>
    </div>
    <a href="https://www.nps.gov/subjects/developer/index.htm" target="_blank">Data provided by the US National Park
        Service</a>
</div>