<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-fluid" src="/assets/images/dlwedding.jpg"
        alt="Derek and Lori Leggett's wedding picture from June 6th, 1998">
    </div>
    <div class="col-lg-8 story">
      <p class="h1">
        Hi, our names are Derek and Lori Leggett. We were married on June 6, 1998 and live in Peoria, Arizona.
        Lori is a 5th grade teacher. Derek is the computer guy! We are expecting our first child around May 5,
        2002. Thank you for visting our web page. We
        hope you enjoy it!
      </p>
    </div>
  </div>
</div>